@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 107px;
    /* left: 0px; */
    top: 0px;
    background: #F8CBA6;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    background-color: #FCE7CC;
}


.container {
    position: absolute;
    width: 700px;
    height: 577px;
    left: 265px;
    top: 180px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* for icons */
label i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 18px;
    color: #0c0a0a;
}  

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li.right-nav {
    /* float: right; */
    margin-right: 50px;
    margin-top: 20%;
}

nav ul li.right-nav a {
    text-decoration: none;
    color: #000;
}

nav ul li.right-nav a:hover {
    color: #fff;
    background-color: #000;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 3;
}

.logo img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60px;
    top: 10px;
    /* object-fit: cover; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    border-radius: 50px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FF6F00;
}


a {
    color: black;
    transition: 0.3s all ease-in-out;
}

a:active {
    color: #FF6F00;
}

a:hover {
    color: #FF6F00;
}

.name {
    position: absolute;
    width: 559px;
    height: 69px;

    background: #FFE7CC;
    border-radius: 50px;

}

.name::placeholder {
    position: relative;
    width: 42px;
    height: 18px;
    margin-left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.myForm .div1 .input {
    width: 559px;
    height: 50px;
    margin-bottom: 20px;
    background: #FFE7CC;
    border-radius: 50px;
}

.myForm .div1 .input::placeholder {
    position: relative;
    left: 40px;
}

.password {
    position: absolute;
    width: 361px;
    height: 65.71px;
    left: 90px;
    top: 340px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.cpassword {
    position: absolute;
    width: 361px;
    height: 65.71px;
    left: 90px;
    top: 430px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

*/ .mail {
    position: relative;
    left: 57px;
}

.phone {
    position: relative;
    left: 57px;
}

.btn {
    display: block;
    width: 552px;
    height: 62px;
    margin-left: 70px;

    background: #F3B989;
    border-radius: 50px;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 977px;
    background: #F8CBA6;
}

/* footer icons */
.footer-icons {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    /* text-align: right; */
}
.footer-icons a{
    margin-inline: 10px;    
}
/* .footer-icons li {

    display: inline-block;
    margin: 0 10px;
} */
.folow{
    margin-top: 10px;
}
.footer-icons img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

/* footer name and email */
.contact-info {
    margin-left: 20px;
}
footer div>strong{
    margin-left: 20%;
}
.btn1{
  
    width: 70%;
    height: 40px;
    left: 764px;
    top: 648px;
    
    background: #F3B989;
    border-radius: 50px;
    }
