*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
    background: #FFFBEB;

}
.navbar{
    background-color: #F3B989;
}
.container-fluid{
    background-color: #F3B989
}

.container{
padding-left: 18%;
margin-top: 20px;
}
.row{
    background: white;
    border-radius: 0;
    box-shadow: 12px 12px 22px;
    width: 80%;
    text-align: center;
}
.login img{
    
    height: 100%;
    position: left;
    display: flex;
    max-width: 100%;
   
    
} 
.inp{
    height: 40px;
    width: 70%;
    border: none;
    outline:none ;
    border-radius: 60px;
    background: #FFE7CC;
    border-radius: 50px;
    text-align: center;
}
.btn1{
  
width: 70%;
height: 40px;
left: 764px;
top: 648px;

background: #F3B989;
border-radius: 50px;
}

.icon{
 position: absolute;
    background:#FFE7CC ;
    margin-right: 18px;
    margin-top: 1px;
    height: 36px;
    width: 44px;
    padding-top: 13px;
    margin-left: 10px;
   
}
.icon2{
    position: absolute;
       background:#FFE7CC ;
       margin-right: 18px;
       margin-top: 10px;
       height: 20px;
       width: 44px;
       padding-top: 12px;
       margin-left: 10px;
      
   }
   /* header{
    position: absolute;
    width: 100%;
    height: 107px;
    left: 0px;
    top: 0px;
    background: #F8CBA6;
    background-color: #F8CBA6 ;
    } */
    .home{
    position: absolute;
    width: 80px;
    height: 34.78px;
    left: 880px;
    top: 37.45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* line-height: 29px; */
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F3B989;

    /* color: #000000; */
}

.about{
    position: absolute;
    width: 100px;
    height: 34.78px;
    left: 990px;
    top: 37.45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    background-color: #F3B989;
    align-items: center;
    text-align: center;


}

.title {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
text-align: center;
}

.footer {
    position: absolute;
width: 100%;
height: 90px;
left: 0px;
top: 977px;

background: #0e0b08;
}.logo img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60px;
    top: 10px;
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    border-radius: 50px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;

    /* color: #FF6F00; */
}

.logo{
  
width: 109px;
height: 93px;
}
.footer{
    background-color: #F3B989;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    width: 100%;
    /* padding:100px 15px ; */
    color: black;
    display: flex;
}
.footer div{
    text-align: center;

}
.col-2{
    flex-grow: 2;
}
/* .col-lg-6{
    background-color: #F3B989;
    background: #F3B989;
} */
